In [3]:
import pandas as pd

df = pd.read_csv('10003_Fire_Incident_Dispatch_Data_2016_with_coordinates.csv')
df = df[['LATITUDE', 'LONGITUDE']]

    LATITUDE  LONGITUDE
0  40.733201 -73.991117
1  40.731975 -73.988158
2  40.733280 -73.987196
3  40.735898 -73.991228
4  40.730577 -73.992424

In [7]:
import random

fw = open('1003_coordinates_libsvmformat.txt','wt')

for i in range(len(df)):
    fw.write("{:02.0f}".format(i) + ' ')
    for j in range(1):
        fw.write("1:"+"{:02.5f}".format(df.iloc[i]['LATITUDE']) + ' ' + "2:"+"{:02.5f}".format(df.iloc[i]['LONGITUDE']))
    fw.write('\n')
    
fw.close()